/*colores
celeste claro = #C3E5F9
celeste oscuro = #12A89D
rojo = #B30F2A
azul = #1C4583
*/
*{margin:0;
padding:0;}

html{
	position:relative;
	min-height:100%;
}

article{
	float:left;
	width:50%;
	}

body{
	background:url(../images/back.png);
	color:#666;
	font-size:16px;
	font-family:Arial;
	height:100%;
	margin:0 0 6em;
	}

header{
	Background:url(../images/header.png)repeat-x;
	height:8em;
	left: 0;
	margin:0 auto;
	position: fixed;
	top: 0;
	width:100%;

}

nav{
	margin:0 auto;
	width:1024px;
}

nav img{

	padding-top:0.5em;
}

section{
	margin:0 auto;
	max-width:1024px;
	overflow:hidden;
	padding-top:7em;
	text-align:left;
	vertical-align:middle;
}

.fila1{
	
	box-sizing:border-box;
	text-align:center;
	width:40%;	
}


.fila1 img{
	padding-top:1em;
	width:100%;


}

.fila2{
	box-sizing:border-box;
	max-height:34em;
	padding-left:1em;
	padding-right:2em;
	width:60%;	
}

.fila2 h1{
	color:rgba(0,113,197,1)
}

.fila2 ul{
	padding-left:2em;
	padding-top:1em;
	padding-bottom:1em;	
}

#abajo{
	margin:0 auto;
	overflow:hidden;
	max-width:1024px;
	vertical-align:middle;
	padding-top:1em;
	padding-bottom:0em;
}


.uno{
	width:40%;
	padding:0 2em 2em 2em;
	box-sizing:border-box;
	box-sizing:border-box;
	
}

.uno p{
	color:#666;
	font-size:.9em;
	
}

.uno h2{
	color:rgba(0,113,197,1);
	padding-top:1em;
}

.uno ul{

	padding-top:0;	
	list-style:none;
}

.uno ul li{
	display:block;
	padding-right:1em;
	
}

.uno input{
	height:2em;
	border:solid #666 2px;

}




input{
	border: solid #666 2px;
	border-radius:4px;
	width:17em;
	
}

.dos{
	width:60%;
	padding-left:1em;
	padding-right:1em;
	box-sizing:border-box;
	padding-bottom:2em;
	
}

.dos h2{
	color:rgba(0,113,197,1);
	padding-top:1em;
}


input[type="submit"]{
	background-color:#0080D1;
	border:1px solid #0071C5;
	color:white;
	margin:0 auto;º
	padding:0 auto;
	text-align:center;
	height:2em;
	}

input[type="submit"]:hover{
	color:white;
   	background-color:#0071C4;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	height:2em;
   
} 

footer{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:6em;
	background:url(../images/nubes.png) repeat-x;
	text-align:center;
	

	
}

footer ul li img{
	padding-top:3em;
	
}
footer ul li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline-block;
	width:3em;
	text-align:center;
	
}

footer ul li img{
	width:40px;
}

@media screen and (max-width:768px){
	
.fila1{
	width:100%;
	height:auto;
}


.fila1 img{
	width:70%;
	
}

.fila2{
	width:100%;
	padding-top:1em;
}

.uno{
	padding-left:1em;
	padding-right:1em;
	box-sizing:border-box;
	width:45%;
}

.dos{
	width:55%;
}

input{
	border: solid #000 2px;
	border-radius:4px;
	width:15em;
}



}

@media screen and (max-width:600px){
	input{ width:284px;
	
}

.uno{
	width:100%;
	padding-left:1em;
}

.dos{
	width:100%;
}

input{
	border: solid #000 2px;
	border-radius:4px;
	width:284px;
}

	
}

@media screen and (max-width:480px){

	
}