/*colores
celeste claro = #C3E5F9
celeste oscuro = #12A89D
rojo = #B30F2A
azul = #1C4583
*/
*{margin:0;
padding:0;}

article{
	float:left;
	width:50%;
	}

body{
	background:url(../images/back.png);
	color:#000;
	font-size:16px;
	font-family:Arial;
}

header{
	Background:url(../images/header.png)repeat-x;
	height:8em;
	left: 0;
	margin:0 auto;
	position: fixed;
	top: 0;
	width:100%;
}

nav{
	margin:0 auto;
	width:1024px;
}

nav img{
	padding-left:1em;
	padding-top:0.5em;
}

section{
	margin:0 auto;
	width:1024px;
	overflow:hidden;
	padding-top:7em;
	text-align:left;
	vertical-align:middle;
}

.fila1{
	
	box-sizing:border-box;
	text-align:center;
	width:40%;	
	padding:1em;
}


.fila1 img{
	
	width:100%;
}

.fila2{
	box-sizing:border-box;
	max-height:34em;
	padding-left:1em;
	padding-right:2em;
	width:60%;	
}

.fila2 h1{
	color:rgba(0,113,197,1)
}

.fila2 ul{
	padding-left:2em;
	padding-top:1em;
	padding-bottom:1em;	
}

#abajo{
	margin:0 auto;
	overflow:hidden;
	max-width:1024px;
	vertical-align:middle;
	padding-top:1em;
	padding-bottom:2em;

}

.uno{
	width:40%;
	box-sizing:border-box;
	
}

.uno h2{
	color:rgba(0,113,197,1);
	padding-bottom:1em;
}


.dos{
	width:40%;
	margin-right:5%;

	padding-right:1em;
	box-sizing:border-box;
}

.dos h2{
	color:rgba(0,113,197,1);
}

.dos ul{

	padding-top:0;	
	list-style:none;
}

.dos ul li{
	display:block;
	padding-right:1em;
	
}

.dos input{
	height:2em;

}




input{
	border: solid #000 2px;
	border-radius:4px;
	width:300px;
	
}

 div{
	 margin:0 auto;
	 text-align:center;
	 width:100%;
 }

input[type="submit"]{
	background-color:#0080D1;
	border:1px solid #0071C5;
	color:white;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	height:2em;
}

input[type="submit"]:hover{
	color:white;
   	background-color:#0071C4;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	height:2em;
   
} 






@media screen and (max-width:768px){
	

.fila1{
	width:100%;
	height:auto;
}


.fila1 img{
	width:70%;
	
}



.fila2{
	width:100%;
	padding-top:1em;
	
	

}

.dos{
	width:100%;
}

.uno{
	width:100%;

}

}




@media screen and (max-width:320px){
	
	input{ width:284px;
	
}
	
}